<div class="module-content box">
<div class="col-md-6 col-xs-12">

					
					<ul class="rss-feeds">
											<li class="item">
					    <div class="item">
					      <h2><a href="http://ogp.gov.ro/noutati/metodologie-de-publicare-a-datelor-deschise-consultare-publica/">Metodologie de publicare a datelor deschise – consultare publică</a></h2>
					      <p>În anul 2016, Secretariatul General al Guvernului a demarat proiectul Creșterea calității și a numărului de seturi de date deschise publicate de instituțiile publice – cod SIPOCA 36, cofinanțat din Fondul Social European pentru perioada 2014-2020. Scopul acestui proiect reprezintă promovarea și creșterea transparenţei în administrație şi a gradului de comunicare cu cetăţenii prin îmbunătățirea […]</p>
						</div></li>
											  						<li class="item">
					    <div class="item">
					      <h2><a href="http://ogp.gov.ro/date-deschise/sesiuni-de-instruire-date-deschise/">Sesiuni de instruire date deschise</a></h2>
					      <p>În anul 2016, Secretariatul General al Guvernului a demarat proiectul Creșterea calității și a numărului de seturi de date deschise publicate de instituțiile publice – cod SIPOCA 36, cofinanțat din Fondul Social European pentru perioada 2014-2020. Scopul acestui proiect reprezintă promovarea și creșterea transparenţei în administrație şi a gradului de comunicare cu cetăţenii prin îmbunătățirea […]</p>
						</div></li>
											  						<li class="item">
					    <div class="item">
					      <h2><a href="http://ogp.gov.ro/date-deschise/dezbatere-publica-privind-datele-deschise-11-iunie-2018/">Dezbatere publică privind datele deschise – 11 iunie 2018</a></h2>
					      <p>În cadrul proiectului Creșterea calității și a numărului de seturi de date deschise publicate de instituțiile publice – cod SIPOCA 36, cofinanțat din Fondul Social European pentru perioada 2014-2020, Secretariatul General al Guvernului vă invită la o dezbatere privind cadrul de reglementare pentru publicarea datelor deschise și oportunitatea unei politici publice în domeniu. Evenimentul va […]</p>
						</div></li>
											  						<li class="item">
					    <div class="item">
					      <h2><a href="http://ogp.gov.ro/noutati/propuneri-pna-2018-2020-primite-pana-la-data-de-15-mai-2018/">Propuneri PNA 2018-2020 primite până la data de 15 mai 2018</a></h2>
					      <p>Au fost publicate propunerile de angajamente pentru noul Plan de Acțiune 2018-2020 primite din partea societății civile în cadrul primei etape a procesului de consultare publică (14 martie – 15 mai). În etapa următoare, propunerile vor fi analizate de către instituțiile vizate ca responsabile pentru implementare. Propuneri PNA 2020_Centrul pentru Inovare Publica Propuneri PNA 2020_Expert […]</p>
						</div></li>
											  						<li class="item">
					    <div class="item">
					      <h2><a href="http://ogp.gov.ro/date-deschise/date-deschise-privind-platitorii-de-impozite-si-taxe-inregistrati/">Date deschise privind plătitorii de impozite și taxe înregistrați</a></h2>
					      <p>În data de 7 mai 2018, Ministerul Finanțelor Publice a supus consultării publice proiectul de ordin privind publicarea pe portalul data.gov.ro a seturilor de date deschise privind plătitorii de impozite și taxe înregistrați (operatori economici și instituții publice). MFP a inițiat un proiect de ordin care modifică și completează Ordinul ministrului finanțelor nr. 1.485/1999 pentru […]</p>
						</div></li>
											</ul>
					
				</div>
</div>
