{% ckan_extends %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="/datagovrov2_theme.css" />

  
<!--  <div id="id01" class="modal">
    <div class="modal-content animate">
      <div class="imgcontainer" style="padding:20px;">
        <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
        <h5 style="text-align:justify">Dacă doriți să contribuiți la îmbunătățirea funcționalităților portalului, a calității datelor publicate și a interacțiunii dintre instituții și utilizatori, vă invităm să completați chestionarul de feedback de mai jos.
Toate întrebările sunt opționale.</br>
Vă mulțumim pentru cooperare și contribuție, echipa data.gov.ro.</h5>
        <a id="surveybtn" href="https://forms.gle/zh65qsSke2Rj7sD19" target="_blank">Mergeți la chestionar</a>-->
      </div>
    </div>
  </div>

{% endblock %}
